version: '3'
services:
  app:
    build: .
    restart: always
    user: '1000:1000'
  database:
    image: mongo:latest
    volumes: 
     - '/home/wesley/mongodb:/data/db'
    ports:
     - '27017:27017'
    restart: always
